.scripts/output/*
!.scripts/output/.keep

# Node

node/node_modules/

# Clojure

clojure/.cpcache

# Rust

rust/target/

# Go

golang/main

# Elixir

elixir/_build/
elixir/deps/
elixir/.fetch
elixir/erl_crash.dump
elixir/*.ez
elixir/elixir-*.tar

.bundle
