.scripts/output/*
!.scripts/output/.keep
.zed/

# Node

node/node_modules/

# Clojure

clojure/.cpcache

# Rust

rust/target/

# Go

golang/main

# C

c/build/*
!c/build/.keep
!c/build/worker_parallel

# .NET
dotnet/obj
dotnet/bin

# Elixir
*beam
elixir/_build/
elixir/deps/
elixir/.fetch
elixir/erl_crash.dump
elixir/*.ez
elixir/elixir-*.tar

.bundle
