{
  :deps {
    com.taoensso/carmine   { :mvn/version "3.0.0" }
    org.clojure/core.async { :mvn/version "1.3.610" }
    org.clojure/data.csv   { :mvn/version "1.0.0" }
    org.clojure/data.json  { :mvn/version "1.0.0" }
    digest/digest          { :mvn/version "1.4.9" }
  }
}
