{
  :deps {
    com.taoensso/carmine   { :mvn/version "3.2.0" }
    org.clojure/core.async { :mvn/version "1.6.673" }
    org.clojure/data.csv   { :mvn/version "1.0.1" }
    org.clojure/data.json  { :mvn/version "2.4.0" }
    org.clj-commons/digest { :mvn/version "1.4.100" }
  }
}
